* {
    margin: 0 auto;
    padding: 0 auto;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

nav li {
    transition: all 0.3s ease-in-out;
    padding: 10px 0px;
}

nav div.aman {
    color: white;
    font-size: 1.5rem;
}

nav {
    display: flex;
    background-color: rebeccapurple;
    align-items: center;
    position: relative;
}
nav li a{
    color: white;
}

nav ul li:hover {
    background-color: rgb(0, 30, 255);
}

nav ul {
    display: none;
    gap: 20px;
    background-color: rebeccapurple;
    position: absolute;
    top: 100%;
    width: 100%;
}

nav .menuclick {
    height: 20px;
    width: 20px;
}

@media (min-width: 600px) {
    nav .menuclick {
        display: none;
    }
    nav ul {
        display: flex;
        position: static;
        width: auto;
    }
}

.disBlock {
    display: block;
}
.disNone {
    display: none;
}